name: Cron Job

on:
    schedule:
        - cron: "0 9 * * 1,2,4,5"
    workflow_dispatch:

jobs:
    run-bun:
        runs-on: ubuntu-latest
        env:
            MEALPAL_USERNAME: ${{ secrets.MEALPAL_USERNAME }}
            MEALPAL_PASSWORD: ${{ secrets.MEALPAL_PASSWORD }}
            MAILGUN_API_KEY: ${{ secrets.MAILGUN_API_KEY }}
            MAILGUN_DOMAIN: ${{ secrets.MAILGUN_DOMAIN }}
            OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        steps:
            - uses: oven-sh/setup-bun@v1
              with:
                  bun-version: latest

            - uses: actions/checkout@v3

            - name: Install deps
              run: bun install

            - name: Run script
              run: bun index.ts
